.container {
  font-family: 'Bebas Neue', cursive;
  width: 900px;
  margin: 50px auto;
}

.task-list a,
i {
  font-size: 20px;
  margin-right: 5px;
}

.links a {
  width: 40px;
  margin: 0;
  margin-right: 10px;
  text-decoration: none;
  background: blue;
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}
